h1{
    background-color: black;
}
a{
margin: 50px;
color: rgb(41, 82, 218);


}
#homediv{
background-color: rgba(24, 223, 74, 0.356);



}

.class{
text-align: center;
text-decoration: solid;

}
#sec{
margin: 20px;
text-align: center;
padding:80px;


}


#pp{
    margin-left: 20px;
    padding: 60px;
    margin-left: 20x;
}
