h1{
    color: rgb(221, 101, 101);
    size: 40px;
    line-height: 0cap;
    text-align: center;
    text-shadow: 8px 8px 8px rgb(202, 168, 168);
    background-color: rgb(31, 29, 29);
}
h1:hover{
    background-color: rgb(245, 61, 76);
}
p{
    color: rgb(5, 5, 5);
    font-weight: bolder;
    font-style: italic;
}
img{
    width: 290px;
    height: 300px;
    border-radius: 18px;
}
a{
    background-color: rgb(240, 225, 225);
    font-style: oblique;
    margin-right: 20px;
    margin-top: 20px;
    border-radius: 8px;
    color: rgb(40, 40, 48);
    text-decoration: wavy;
    text-overflow: inherit;
    text-decoration:none;
}
