
    


form{
    background-color: rgb(55, 158, 158);
    width:50% ;
    margin: 0 auto;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 0 0 20px rgb(88, 203, 231);

}
legend{
text-align: left;
margin-bottom: 20px;
font-weight: bold;
text-shadow:0 0 20px rgba(54, 216, 194, 0.37) ;
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
font-size: 18px;


}


input[type=text],[type=email],[type=password],[type=date],[type=datetime-local],[type=number],[type=select],[type=text]{

width: 100%;
height: 25px;
border-radius: 10px;
border: none;
padding-left:10px ;
margin-top: 10px;


}

button{
background-color: bisque;
padding: 10px;
border-radius: 10px;
border: none;
}

button:hover{

    background-color: aquamarine;
}

body{
background-image: url('../cars\ folder.html/back1jpeg');
background-repeat: no-repeat;

background-size: cover;

}